
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>GalvanizeGroups.com</title>

    <div class = 'navBar'>

        <a href="/" class="button">Homepage</a>

        <a href="/cluster" class="button">Clusters</a>

        <!-- <a href="/pairs" class="button">Pairs</a>

        <a href="/group" class="button">Groups</a> -->

    </div>

    <div class = 'homepage_title'>
      <h1>Galvanize Groups</h1>
      <!-- <h3>Connecting Worthy People With Worthy Causes</h3> -->
    </div>

    <link rel='stylesheet' href='static/localrec.css'>
  </head>
  <body>

    <div class = 'navBarHome'>

      <div class = 'homebutton'>
        <p9><a href="/cluster" class="buttonHome">Assessment Clustering</a></p9>
        <a href="/cluster" class="imageHome">
          <img style='width:100%; height:auto; vertical-align: bottom;' src="https://github.com/jackvessa/GalvanizeGroups/blob/master/IMG/Clustering.jpg?raw=true" alt="clusters">
        </a>
      </div>

      <!-- <div class = 'homebutton'>
        <p9><a href="/pairs" class="buttonHome">Pair Programming</a></p9>
        <a href="/pairs" class="imageHome">
          <img style='width:100%; height:auto; vertical-align: bottom;' src="https://github.com/jackvessa/GalvanizeGroups/blob/master/IMG/pairs.jpg?raw=true" alt="pairs">
        </a>
      </div>

      <div class = 'homebutton'>
        <p9><a href="/group" class="buttonHome">Case Study Groups</a></p9>
        <a href="/group" class="imageHome">
          <img style='width:100%; height:auto; vertical-align: bottom;' src="https://github.com/jackvessa/GalvanizeGroups/blob/master/IMG/Grouping.jpg?raw=true" alt="groups">
        </a>
      </div> -->

      <!-- <div class = 'homebutton'>
        <p9><a href="/charitySearch" class="buttonHome">Keyword Search</a></p9>
        <a href="/charitySearch" class="imageHome">
          <img style='width:100%; height:auto; vertical-align: bottom;' src="https://github.com/jackvessa/Charity_Recommender/blob/master/IMG/search.jpg?raw=true" alt="search">
        </a>
      </div> -->

    </div>

  </body>

</html>
